.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#buttons {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   width: 200px;
   height: 200px;
 }

.number, .operator, .clear, .equals,.decimal {
  width: 50px;
  height: 50px;
}
.equals {
  flex-grow: 2;
}
